@media (max-width: 768px) {
    .main-banner {
      width: 100%;
      max-width: none;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 1px;
      margin-right: 0px;
    }
  }
    

.carousel-item {
    position: relative; 
     display: none; 
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 400px;
    
    padding-left:30px;
    padding-right:30px;
}
.carousel-control-next, .carousel-control-prev {
    height: 100%;
    width: 40px;
  
    bottom: auto;
    /* background-color: #673AB7;  */
}


.card-purple {
    background: linear-gradient(145deg, #673AB7, #9C27B0);
}

.card-yellow {
    background: linear-gradient(145deg, #FFC107, #FFEB3B);
}

.card-light {
    background: linear-gradient(145deg, #eee, #fff);
}

.card-dark {
    background: linear-gradient(145deg, #575b5d, #252b2d);
}

.card-dark-light {
    background:  linear-gradient(160deg, #5e5e5e, #494949);
    color: whitesmoke
}


.card-dark-rev {
    background: linear-gradient(145deg, #252b2d, #575b5d);
}


.card-blue {
    background: linear-gradient(145deg, rgb(143, 205, 255), #3F51B5);
}

.card-purple-pink {
    background: linear-gradient(145deg, #3F51B5, #E91E63);
}

.card-blue-pink {
    background: linear-gradient(145deg, #2196F3, #E91E63);
}




ul.timeline {
    list-style-type: none;
    position: relative;
    font-size: 1.25rem;
    font-weight: 300;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    padding-bottom:30px;

}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}


ul.timeline > li > p {
    margin-bottom: 10px;
}